.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.glass{

width:900px;

padding:70px;

text-align:center;

border-radius:35px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(25px);

box-shadow:

0 20px 60px rgba(0,0,0,.25);

animation:floatCard 6s ease-in-out infinite;

}

.smallTitle{

font-size:22px;

letter-spacing:3px;

margin-bottom:20px;

opacity:.9;

}

.glass h1{

font-size:75px;

font-family:"Great Vibes";

min-height:180px;

line-height:1.2;

}

.tagline{

font-size:23px;

margin:40px 0;

line-height:1.7;

}

button{

padding:20px 45px;

border:none;

border-radius:40px;

font-size:20px;

cursor:pointer;

background:white;

color:#ff2e63;

transition:.4s;

position:relative;

overflow:hidden;

font-weight:600;

}

button:hover{

transform:translateY(-6px) scale(1.05);

box-shadow:

0 0 25px white,

0 0 60px pink;

}

button::before{

content:"";

position:absolute;

top:0;

left:-120%;

width:100%;

height:100%;

background:linear-gradient(
90deg,
transparent,
rgba(255,255,255,.7),
transparent
);

transition:.7s;

}

button:hover::before{

left:120%;

}
@keyframes floatCard{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}
#typing::after{

content:"|";

margin-left:6px;

animation:blink .7s infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}