nav{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

z-index:999;

}

.logo{

font-size:30px;

font-family:'Great Vibes',cursive;

}

nav ul{

display:flex;

gap:40px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

}

nav a:hover{

color:pink;

}