@media(max-width:900px){

nav{

padding:20px;

}

nav ul{

display:none;

}

.glass{

width:95%;

padding:40px;

}

.glass h1{

font-size:52px;

}

.glass p{

font-size:20px;

}

}
@media(max-width:768px){

.timeline-container::before{
    left:25px;
}

.timeline-item{
    width:100%;
    padding-left:70px;
    padding-right:20px;
}

.timeline-item.left,
.timeline-item.right{
    left:0;
}

.timeline-item.left::after,
.timeline-item.right::after{
    left:13px;
}

}