/* =======================
   Stars
======================= */

#stars{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

pointer-events:none;

z-index:-1;

overflow:hidden;

}

.star{

position:absolute;

width:3px;

height:3px;

background:white;

border-radius:50%;

animation:twinkle 2s infinite alternate;

}

@keyframes twinkle{

0%{

opacity:.2;

transform:scale(.8);

}

100%{

opacity:1;

transform:scale(1.5);

}

}

/* =======================
   Moon
======================= */

#moon{

position:fixed;

top:60px;

right:80px;

width:120px;

height:120px;

border-radius:50%;

background:white;

box-shadow:

0 0 30px white,

0 0 80px rgba(255,255,255,.6);

z-index:-1;

}

/* =======================
   Shooting Star
======================= */

.shooting-star{

position:fixed;

width:180px;

height:2px;

background:linear-gradient(to right,white,transparent);

transform:rotate(-35deg);

animation:shoot 2s linear forwards;

pointer-events:none;

z-index:-1;

}

@keyframes shoot{

0%{

transform:translate(0,0) rotate(-35deg);

opacity:1;

}

100%{

transform:translate(-900px,500px) rotate(-35deg);

opacity:0;

}

}